{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- home page layout code adapted from https://katie-harte-art.onrender.com/ -->
{% block content %}
    <!--intro section-->
    <section class="home-intro container text-center py-4 py-md-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="bio-image-div">
                    <img class="bio-image" src="#" alt="nyree waters bio image" />
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h1>nyree waters</h1>
                <p class="lead pt-3">artist / designer</p>
                <a href="#" class="mt-3 mt-sm-4 btn btn-gen btn-md">about me</a>
            </div>
        </div>
    </section>

    <!-- shop categories section -->
    <section class="home-shop py-4 py-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>shop online</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7">
                    <p class="lead">
                        <strong>statement detailing general online shop contents.</strong>
                    </p>
                    <p>
                        categories of items, services available.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 home-category-wrapper">
                    <a href="#">
                        <div id="category-img-1"
                            class="home-category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="collages">
                            <div class="category-title-wrapper text-center">
                                <h3>collages</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 home-category-wrapper">
                    <a href="#">
                        <div id="category-img-2"
                            class="home-category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="paintings">
                            <div class="category-title-wrapper text-center">
                                <h3>paintings</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 home-category-wrapper">
                    <a href="#">
                        <div id="category-img-3"
                            class="home-category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="poems">
                            <div class="category-title-wrapper text-center">
                                <h3>poems</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
        </div>     
    </section>

    <!-- featured reviews section -->

{% endblock %}