{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home-about.css' %}" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- home page layout code adapted from https://katie-harte-art.onrender.com/ -->
{% block content %}
    <!--intro section-->
    <section class="home-intro container text-center py-4 py-md-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="bio-image-div">
                    <img src="{{ MEDIA_URL }}nyree-about-image-1920x1080px-72dpi.webp" class="bio-image" alt="nyree waters bio image"/>
                </div>
            </div>
            <div class="col-12 col-lg-6 bio-text">
                <h1>nyree waters</h1>
                <p class="lead pt-3">artist / designer</p>
                <div class="col text-center py-2">
                    <ul class="social-media-icons list-inline">
                        <li class="list-inline-item"><a href="https://www.instagram.com/nyree_____waters/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://nyreewaters.com" target="_blank" aria-label="Website"><i class="fas fa-globe"></i></a></li>
                    </ul>
                </div>
                <p>
                    Nyree is an abstract artist, specialising in collage.
                </p>
                <p>
                    Nyree grew up on the coast of North Wales before heading up to Scotland to study a degree
                    in Illustration at Edinburgh College of Art. She currently lives in Manchester + works 
                    freelance as an artist / musician / creative facilitator.
                </p>
                <p>
                    <em>* incase you’re wondering,
                    it’s pronounced ‘n-eye-ree’</em>
                </p>
                <a href="{% url 'about' %}" class="mt-3 mt-sm-4 btn btn-black"><strong>about me</strong></a>
            </div>
        </div>
    </section>

    <!-- shop categories section -->
    <section class="home-shop py-4 py-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>shop online</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7">
                    <p class="lead">
                        <strong>statement detailing general online shop contents.</strong>
                    </p>
                    <p>
                        categories of items, services available.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 category-wrapper">
                    <a href="{% url 'products' %}?category=originals">
                        <div id="category-img-originals"
                            class="category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="original_collages">
                            <div class="category-title-wrapper text-center">
                                <h3>originals</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 category-wrapper">
                    <a href="{% url 'products' %}?category=prints">
                        <div id="category-img-prints"
                            class="category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="prints">
                            <div class="category-title-wrapper text-center">
                                <h3>prints</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 category-wrapper">
                    <a href="{% url 'bespoke_enquiry' %}">
                        <div id="category-img-bespoke"
                            class="category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="bespoke">
                            <div class="category-title-wrapper text-center">
                                <h3>bespoke</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
        </div>     
    </section>

{% endblock %}