<script>
    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(quantityInput) {
        var currentValue = parseInt(quantityInput.val());
        var minusButton = quantityInput.closest('.input-group').find('.decrement-qty');
        var plusButton = quantityInput.closest('.input-group').find('.increment-qty');
        minusButton.prop('disabled', currentValue < 2);
        plusButton.prop('disabled', currentValue > 98);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    allQtyInputs.each(function() {
        handleEnableDisable($(this));
    });

    // Check enable/disable every time the input is changed
    allQtyInputs.change(function() {
        handleEnableDisable($(this));
    });

    // Increment quantity of bag item
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input');
        var currentValue = parseInt(closestInput.val());
        closestInput.val(currentValue + 1).change();  // Trigger change event
    });

    // Decrement quantity of bag item
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input');
        var currentValue = parseInt(closestInput.val());
        closestInput.val(currentValue - 1).change();  // Trigger change event
    });
</script>