html {
    height: 100%;
}

body {
    height: calc(100vh - 12rem);
    color: black;
    font-family: 'Courier New', 'Courier Prime', 'sans-serif';
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter', 'san-serif';
    text-transform: lowercase;
}

.navbar .nav-link p,
.navbar-nav .nav-link,
.nav-icon-label {
	color: #332E14 !important;
	font-family: 'Inter', 'san-serif';
	font-weight: 600;
}

.navbar {
    background-color: #35CCCF;
}

.dropdown-menu {
	background-color: #35CCCF;
}

.dropdown-menu a {
	font-weight: bold;
    font-size: 0.9rem;
}

.text-info {
        color: #2600FF !important;
}

.min-height-container {
    min-height: 30vh;
    margin-bottom: 4rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.heading-text,
#delivery-banner {
    text-transform: lowercase;
    text-align: center;
}

.heading-text {
    padding: 1.5rem 0;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
    font-weight: bold;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
    font-weight: bold;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #fff;
    color: #000;
	border: 1px solid black;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;

}

a.category-badge {
    font-size: 1.5rem;
    text-transform: lowercase;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}

/* scroll up to top button */
a.btt-link.d-flex.h-100 {
    text-decoration: none;
    background-color: #fff;
}

a.btt-link.d-flex.h-100:hover,
a.btt-link.d-flex.h-100:active,
a.btt-link.d-flex.h-100:focus {
    background-color: #E5543C;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
}

label {
	font-weight: bold;
}

.form-color-bg {
	background-color: #EADFCE;
	padding: 1.5rem;
	margin-bottom: 1rem;
}

/* -------------------------------- Order Confirmation / Checkout Success */

.order-confirmation-wrapper {
	background-color: #EADFCE;
	margin-bottom: 1rem;
}

.order-summary-title {
	text-align: center;
	padding-top: 1rem;
}

.order-info {
    margin-left: 0.5rem;
}

.order-subheadings {
    margin: 1rem 0rem;
}

.order-billing-section {
	padding-bottom: 2rem;
}

/* -------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*--------------------------------- Product Management */

.edit-delete-icons {
    font-size: 1.3rem;
}

/*--------------------------------- Footer */

.footer {
    background-color: #f8f9fa;
    padding: 2rem 0;
    border-top: 3px dashed #000;
}

.footer-logo img {
    margin-bottom: 0rem;
}

.footer-links {
    margin-bottom: 0.6rem;
}

.footer-links a {
    color: #343a40;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: none;
    font-weight: bold;
	color: #343a40 !important;
}

.social-media-icons a {
    color: #343a40;
    text-decoration: none;
    margin-right: 0.05rem;
    font-size: 1.2rem;
}

.social-media-icons a:hover {
    color: #35CCCF;
}

.footer p {
    margin: 5px 0;
	font-size: 0.8rem;
}

.footer p a:hover {
	color: #35CCCF;
}

.footer a {
	color: #343a40;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff !important;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}
  
/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 12rem;
    }

    #mobile-nav-logo {
    display: none;
    }
  }

@media (max-width: 992px) {
    /* Pad the top when navbar is collapsed on mobile */
    .header-container {
        padding-top: 8rem;
    }

    body {
        height: calc(100vh - 8rem);
    }

    .display-4.heading-text.text-black {
        font-size: 1rem;
    }

    .navbar ul {
        margin-top: 1rem;
    }
    
    .nav-link {
        padding: 0.3rem 0rem;
        font-size: 0.8rem;
    }
    
    .nav-link i.fa-lg {
        font-size: 1rem;
    }
    
    .navbar-toggler {
        padding: 0.6rem 0.6rem;
        font-size: 1rem;
    }
    
    #delivery-banner h4 {
        font-size: 1rem;
    }
    
    .btn.btn-outline-black,
    .btn.btn-black {
        padding: .375rem .375rem;
    }
    
    .btn.btn-outline-black.btn-lg,
    .btn.btn-black.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }
    
    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media (max-width: 767px) {
    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-links .list-inline-item {
        display: block;
        margin-bottom: 0.625rem; /* 10px */
    }

    .footer-links .list-inline-item:last-child {
        margin-bottom: 0;
    }

    .social-media-icons {
        display: flex;
        justify-content: center;
    }

    .social-media-icons .list-inline-item {
        margin-right: 0.9375rem; /* 15px */
    }

    .social-media-icons .list-inline-item:last-child {
        margin-right: 0;
    }
}

@media (max-width: 330px) {
	.btn.btn-outline-black.btn-lg,
    .btn.btn-black.btn-lg {
		font-size: .7rem;
    }
}
