<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="" id="about-link" aria-haspopup="true" aria-expanded="false">
                about
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="art-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="art-products-link">
                <a href="" class="dropdown-item">view all</a>
                <div class="dropdown-submenu dropright">
                    <a href="#" class="dropdown-item dropdown-toggle">
                        collages
                    </a>
                    <div class="dropdown-menu">
                        <a href="" class="dropdown-item">view all</a>
                        <a href="" class="dropdown-item">custom</a>
                        <a href="" class="dropdown-item">originals</a>
                        <a href="" class="dropdown-item">prints</a>
                    </div>
                </div>
                <div class="dropdown-submenu dropright">
                    <a href="#" class="dropdown-item dropdown-toggle">
                        paintings
                    </a>
                    <div class="dropdown-menu">
                        <a href="" class="dropdown-item">view all</a>
                        <a href="" class="dropdown-item">custom</a>
                        <a href="" class="dropdown-item">originals</a>
                        <a href="" class="dropdown-item">prints</a>
                    </div>
                </div>
                <div class="dropdown-submenu dropright">
                    <a href="#" class="dropdown-item dropdown-toggle">
                        poems
                    </a>
                    <div class="dropdown-menu">
                        <a href="" class="dropdown-item">view all</a>
                        <a href="" class="dropdown-item">custom</a>
                        <a href="" class="dropdown-item">originals</a>
                        <a href="" class="dropdown-item">prints</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="" id="faqs-link" aria-haspopup="true" aria-expanded="false">
                FAQs
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="" id="contact-link" aria-haspopup="true" aria-expanded="false">
                contact
            </a>
        </li>
        <li id="mobile-nav-logo" class ="my-auto">
            <hr class="skinny-hr">
            <div class="col-12 col-lg-4  logo-wrapper">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="" alt="nyreewaters brand logo" height="43"/>
                </a>
            </div>
        </li>
    </ul>
</div>


<script>
    // Add click event listeners to the dropdown-submenu elements
    document.querySelectorAll('.dropdown-submenu > .dropdown-toggle').forEach(function(element) {
        element.addEventListener('click', function(event) {
            event.preventDefault();
            event.stopPropagation();
            this.classList.toggle('show');
            this.nextElementSibling.classList.toggle('show');
        });
    });

    // Close the dropdown menus when clicking outside
    document.addEventListener('click', function(event) {
        var dropdowns = document.getElementsByClassName('dropdown-menu');
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
                openDropdown.previousElementSibling.classList.remove('show');
            }
        }
    });
</script>