<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link mr-5" href="" id="about-link" aria-haspopup="true" aria-expanded="false">
                about
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="art-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="art-products-link">
                <a href="" class="dropdown-item">view all</a>
                <a href="" class="dropdown-item">collages</a>
                <a href="" class="dropdown-item">prints</a>
                <a href="" class="dropdown-item">poems</a>
                <a href="" class="dropdown-item">(bespoke work)</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-5" href="" id="faqs-link" aria-haspopup="true" aria-expanded="false">
                FAQs
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-5" href="" id="contact-link" aria-haspopup="true" aria-expanded="false">
                contact
            </a>
        </li>
        <li id="mobile-nav-logo" class ="my-auto">
            <hr class="skinny-hr">
            <div class="col-12 col-lg-4  logo-wrapper">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="" alt="nyreewaters brand logo" height="43"/>
                </a>
            </div>
        </li>
    </ul>
</div>