.fieldset-label {
    font-weight: 600;
    position: relative;
    right: .5rem;
}

a.text-info {
    color: #bfae5a !important;
    font-weight: 700;
    font-family: 'Inter';
    letter-spacing: 0.05rem;
}

a:hover {
    text-decoration: none;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}