{% extends "base.html" %}
{% load static %}

{% block extra_title %} - About{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home-about.css' %}" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="about-intro container text-center py-2 py-md-4">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="about-image-div">
                    <img src="{{ MEDIA_URL }}nyree-waters-portrait-dots-1080px.webp" class="bio-image" alt="nyree waters bio image"/>
                </div>
            </div>
            <div class="col-12 col-lg-6 bio-text">
                <h1>about.</h1>
                <h2>✷ nyree waters ✷</h2>
                <p class="lead pt-2">artist / designer</p>
                <p>Nyree is an abstract artist, specialising in collage.</p>
                <p>
                    Nyree grew up on the coast of North Wales before heading up to Scotland to study a degree
                    in Illustration at Edinburgh College of Art. She currently lives in Manchester + works 
                    freelance as an artist / musician / creative facilitator.
                </p>
                <p>
                    <em>* incase you’re wondering,
                    it’s pronounced ‘n-eye-ree’</em>
                </p>
                <div class="col text-center py-2">
                    <h4 class="text-center mb-3">
                        let's connect :
                    </h4>
                    <p>nyree.waters@gmail.com</p>
                    <ul class="social-media-icons list-inline">
                        <li class="list-inline-item"><a href="https://www.instagram.com/nyree_____waters/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://nyreewaters.com" target="_blank" aria-label="Website"><i class="fas fa-globe"></i></a></li>  
                    </ul>
                    <p>or send a message via the online form:</p>
                    <a href="{% url 'contact' %}" class="btn btn-black"><strong>contact</strong></a>
                </div>
            </div>
        </div>
    </section>
    <section class="about-extra py-4 py-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>More About Nyree</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7">
                    <p class="lead font-weight-bold">
                        <strong>✷ music / art / writing ✷</strong>
                    </p>
                    <p>
                        Sustainability is at the heart of everything she makes, 
                        using recycled materials + eco-friendly processes wherever she can.
                    </p>
                    <p>
                        Her visual style is playful + intuitive, flowing across a range of 
                        mediums from collage to painting.
                    </p>
                    <p>
                        A lover of words, Nyree uses poetry in both her artwork + music as a way of processing heavy thoughts/feelings with a gentle touch.
                    </p>
                    <h4>
                        Below are links to Nyree's online portfolios where you can explore more of her work!
                    <h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 category-wrapper">
                    <a href="https://www.nyreewaters.com/work/music" target="_blank">
                        <div id="category-img-music"
                            class="category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="music portfolio">
                            <div class="category-title-wrapper text-center">
                                <h3>Music</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 category-wrapper">
                    <a href="https://www.nyreewaters.com/work/art" target="_blank">
                        <div id="category-img-art"
                            class="category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="art + design portfolio">
                            <div class="category-title-wrapper text-center">
                                <h3>Art + Design</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 category-wrapper">
                    <a href="https://www.nyreewaters.com/work/writing" target="_blank">
                        <div id="category-img-writing"
                            class="category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="writing portfolio">
                            <div class="category-title-wrapper text-center">
                                <h3>Writing</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>    
{% endblock %}