{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %} - Contact{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <!-- page title -->
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="heading-text">get in touch</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h2>have any questions?</h2>
                <p>
                    or if you’re interested in connecting / collaborating / commissions, 
                    fill out the form below + i’ll get back to you ASAP!   ✷  
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <form method="POST" action="" class="contact-form form mb-2">
                    {% csrf_token %}
                    {% crispy form %}
                    <div class="text-center">
                        <button class="btn btn-black mb-3 mt-sm-3" type="submit">submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
