a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #FFFF;
}

.bio-image-div img {
    max-width: 100%;
}

.about-image-div img {
    max-width: 60%;
}

.bio-text {
    margin: auto;
}

/* category section */
.home-shop,
.about-extra {
    background-color: #eadfce;
    border-top: 3px dashed #000;
}

/* category cards */
.category-wrapper {
    padding: 25px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.card-img-top {
    height: 24vw;
}

/* Home Category images */
#category-img-originals {
    background-image: url(https://nyreewaters-art.s3.eu-west-2.amazonaws.com/media/myfavourite-orig-1080x1350px.webp);
}

#category-img-prints {
    background-image: url(https://nyreewaters-art.s3.eu-west-2.amazonaws.com/media/pool-print-1080x1350px.webp);
}

#category-img-bespoke {
    background-image: url(https://nyreewaters-art.s3.eu-west-2.amazonaws.com/media/full-bespoke-1080x1350px.webp);
}

/* About Category images */
#category-img-music {
    background-image: url("https://nyreewaters-art.s3.eu-west-2.amazonaws.com/media/music2-image-1350x1080px.webp");
}

#category-img-art {
    background-image: url("https://nyreewaters-art.s3.eu-west-2.amazonaws.com/media/design-image-1350x1080px.webp");
}

#category-img-writing {
    background-image: url("https://nyreewaters-art.s3.eu-west-2.amazonaws.com/media/writing-image-1350x1080px.webp");
}

.category-img {
    position: relative;
    width: 100%;
    padding-bottom: 125%; /* Maintain aspect ratio */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    -webkit-transition: 0.2s all ease-in-out 0.2s;
    transition: 0.2s all ease-in-out 0.2s;
    background-position: center;
}

.category-img:hover {
    box-shadow: 4px 8px 8px rgb(189, 180, 180) !important;
    -webkit-transition: box-shadow .3s ease-in;
    transition: box-shadow .3s ease-in;
}

.category-title-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(229 84 60);
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.box-shadow {
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 16%), 0 2px 4px rgb(0 0 0 / 23%);
    box-shadow: 0 2px 4px rgb(0 0 0 / 16%), 0 2px 4px rgb(0 0 0 / 23%);
}

/* 992px plus */
@media screen and (min-width: 992px) {
    .category-wrapper {
        max-width: 600px;
    }
}

/* mobile devices < 992px */
@media screen and (max-width: 992px) {
    .bio-image-div img {
        max-width: 90%;
        }
    
    .bio-text {
        padding-top: 2rem;
    }
}