a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: #EA9F31;
}

/* CREDIT - shop section
    https://github.com/emmawalshdev/kaytea_art/blob/main/home/static/home/css/home.css
*/

/* category section */
.home-shop {
    background-color: #eadfce;
}

/* category cards */
.home-category-wrapper {
    padding: 25px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.card-img-top {
    height: 24vw;
}

#category-img-originals {
    background-image: url(https://nyreewaters-art.s3.eu-west-2.amazonaws.com/media/myfavourite-orig-1080x1350px.webp);
}

#category-img-prints {
    background-image: url(https://nyreewaters-art.s3.eu-west-2.amazonaws.com/media/pool-print-1080x1350px.webp);
}

#category-img-bespoke {
    background-image: url(#);
}

.home-category-img {
    position: relative;
    width: 100%;
    padding-bottom: 125%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 8px;
    -webkit-transition: 0.2s all ease-in-out 0.2s;
    transition: 0.2s all ease-in-out 0.2s;
    background-position: center;
}

.home-category-img:hover{ 
    box-shadow: 4px 8px 8px rgb(189, 180, 180) !important;
   -webkit-transition:  box-shadow .3s ease-in;
 }

.box-shadow {
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 16%), 0 2px 4px rgb(0 0 0 / 23%);
    box-shadow: 0 2px 4px rgb(0 0 0 / 16%), 0 2px 4px rgb(0 0 0 / 23%);
}

.category-title-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(229 84 60);
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing: border-box;
}

/* 992px plus */
@media screen and (min-width: 992px) {
    .home-category-wrapper {
        height: 600px;
    }
    /* .home-category-img {
        height: 115%;
    } */
}